.becomeClient-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.becomeClient-square{
    width: 35%;
    height: 90%;
    background-color:#DCEEE9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.becomeClient-headerText{
   color:#2D4954 ;
}
.becomeClient-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.becomeClient-formName{
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#2D4954 ;
    
}
.becomeClient-formEmail{
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#2D4954 ;
}
.becomeClient-formPassword{
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#2D4954 ;
}
.submittedSuccessfully-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.submittedSuccessfully-headerText{
    text-align: center;
    color:#2D4954;
}

@media screen and ( max-width:700px ) {
    .becomeClient-square{
        width: 70%;
    }
}
@media screen and ( max-width:400px ){
    .becomeClient-square{
        width: 80%;
    }
}
@media screen and (min-height:800px){
    .becomeClient-square{
        height: 75%;
    }
}